body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
}

a {
  color: seashell;
}

h2, h3, h4 {
margin: 0;
padding: 10px;
}

div {
  border: 1px solid pink;
  display: block;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 40px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
}

/* Universal Styles - News Stories */


.main {
  display: flex;
  flex-direction: column;
}


/* Main Section */

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* Tea Section */

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.tea img {
  width: 300px;
  height: 200px;
  display: block;
  padding: 10px;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}


/* Address Section */

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

.location {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  opacity: 1.0;
  margin: 5px 20px;
}
/* Contact */
#contact {
  height: 200px;
}


/* Footer */
footer  {
  text-align: left;
  padding-left: 20px;
}
